<h3>Book search</h3>
<form (ngSubmit)="search()" #searchForm="ngForm">
<div class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-10">
            <input type="text" class="form-control" autofocus
                   name="searchKeyWords"
                   placeholder="enter key words" [(ngModel)]="searchKeyWords">
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-success btn-block"
                    [disabled]="!searchKeyWords || showSpinner">Search</button>
        </div>
    </div>
</div>
</form>

<div *ngIf="showSpinner">
    <img src="assets/spinner.gif" class="spinner-block">
</div>

<table class="table table-striped table-hover" *ngIf="books && books.length > 0 && ! showSpinner">
    <thead>
    <tr>
        <th>ISBN</th>
        <th>Title</th>
        <th>Authors</th>
        <th>Publisher</th>
        <th>Price</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr style="cursor: pointer" *ngFor="let book of books" (click)="showDetails(book.isbn)">
        <td>{{book.isbn}}</td>
        <td>{{book.title}}</td>
        <td>{{book.authors}}</td>
        <td>{{book.publisher}}</td>
        <td>{{book.price | currency:'USD':true }}</td>
        <td><button (click)="addToCart($event, book)" class="btn glyphicon glyphicon-shopping-cart"></button></td>
    </tr>
    </tbody>
</table>

<div class="alert alert-info" *ngIf="books && books.length == 0 && !showSpinner">
    No book found.
</div>