<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-book"></span> Angular Bookstore</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a routerLink="/catalog" routerLinkActive="activate"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Catalog</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" [ngClass]="{open: open}" style="cursor: pointer">
                    <a (click)="toggleOpen()" *ngIf="authService.isLoggedIn() && authService.customer.firstName && authService.customer.lastName">
                        <span class="glyphicon glyphicon-user"></span> Hi {{ authService.customer.firstName + " " + authService.customer.lastName }} <span class="caret"></span>
                    </a>
                    <a *ngIf="!authService.isLoggedIn()" routerLink="/login"><span class="glyphicon glyphicon-user"></span> Login</a>

                    <ul class="dropdown-menu">
                        <li><a (click)="toggleOpen()" routerLink="/account">Account details</a></li>
                        <li><a (click)="logout()">Logout</a></li>
                    </ul>
                </li>

                <li><a routerLink="/cart" routerLinkActive="active"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Shopping Cart <span class="badge">{{ orderService.cart.getTotalItems() }}</span></a></li>

                <li *ngIf="orderService.cart.getTotalItems() > 0"><a routerLink="/checkout" routerLinkActive="active"><span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span> Checkout</a></li>
            </ul>
        </div>
    </div>
</nav>
<br><br><br>
<div class="container">
    <router-outlet></router-outlet>
    <simple-notifications [options]="notificationOptions"></simple-notifications>
</div>
