<form (ngSubmit)="login()" #loginForm="ngForm">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label" for="username">Username</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" id="username" name="username"
                       required
                       #un="ngModel"
                       [(ngModel)]="username">

                <div *ngIf="un.errors && (un.dirty || un.touched)">
                    <div *ngIf="un.errors.required">
                        Username is required
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="password">Password</label>
            <div class="col-sm-9">
                <input class="form-control" type="password" id="password" name="password"
                       required
                       #pw="ngModel"
                       [(ngModel)]="password">

                <div *ngIf="pw.errors && (pw.dirty || pw.touched)">
                    <div *ngIf="pw.errors.required">
                        Password is required
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-4 col-sm-4">
            <button class="btn btn-success btn-block"
                    [disabled]="!loginForm.form.valid"
                    type="submit">Login</button>
        </div>
        <div class="col-sm-4">
            <a class="btn btn-primary btn-block" [routerLink]="['/register']">Register</a>
        </div>
    </div>
</form>