<div class="row">
    <div class="col-sm-12">
        <h4>Account details</h4>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped table-hover">
            <tbody>
            <tr>
                <th>Name</th>
                <td>{{authService.customer.firstName}}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{authService.customer.lastName}}</td>
            </tr>
            <tr>
                <th>E-Mail</th>
                <td>{{authService.customer.email}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-8 col-sm-4">
        <button routerLink="/account/edit" class="btn btn-primary btn-block">Update customer details</button>
    </div>
</div>

<div class="row row-extra-space">
    <div class="col-sm-12">
        <h4>Order history</h4>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <form (ngSubmit)="getOrders()" #orderForm="ngForm">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-10">
                        <input class="form-control" type="text" id="year" name="year"
                               placeholder="year"
                               [(ngModel)]="year">
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-success btn-block"
                                [disabled]="!year">Search
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row" *ngIf="orders && orders.length > 0">
    <div class="col-sm-12">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr style="cursor: pointer;" *ngFor="let item of orders" (click)="orderDetails(item.number)">
                <td>{{item.date}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.orderStatus}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row row-extra-space">
    <div class="col-sm-offset-8 col-sm-4">
        <button routerLink="/catalog" class="btn btn-default btn-block"><span
                class="glyphicon glyphicon-chevron-left"></span> Go to catalog
        </button>
    </div>
</div>
