<form #editCustomerForm="ngForm" (ngSubmit)="updateCustomerData()">
    <h4>Customer Data</h4>
    <customer-info #customerInfoForm [customer]="authService.customer" [editable]="true"></customer-info>

    <h4>Address</h4>
    <customer-address #addressForm [address]="authService.customer.address" [editable]="true" [directUpdate]="false"></customer-address>

    <h4>Creditcard</h4>
    <customer-creditcard #creditcardForm [creditCard]="authService.customer.creditCard" [editable]="true" [directUpdate]="false"></customer-creditcard>

    <div class="row">
        <div class="col-sm-offset-8 col-sm-4">
            <button class="btn btn-success btn-block"
                    [disabled]="!(creditcardForm.form.valid && customerInfoForm.form.valid && addressForm.form.valid)"
                    type="submit">Update data</button>
        </div>
    </div>
</form>
