<form #registerForm="ngForm" (ngSubmit)="registerCustomer()">
    <h4>Customer Data</h4>
    <customer-info #customerInfoForm [customer]="customer" [editable]="true"></customer-info>

    <h4>Address</h4>
    <customer-address #addressForm [address]="customer.address" [editable]="true"
                      [directUpdate]="false"></customer-address>

    <h4>Creditcard</h4>
    <customer-creditcard #creditcardForm [creditCard]="customer.creditCard" [editable]="true"
                         [directUpdate]="false"></customer-creditcard>

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label" for="password">Password</label>
            <div class="col-sm-9">
                <input class="form-control" type="password" id="password" name="password"
                       required
                       #pw="ngModel"
                       [(ngModel)]="password">
                <div *ngIf="pw.errors && (pw.dirty || pw.touched)">
                    <div *ngIf="pw.errors.required">
                        Password is required
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-8 col-sm-4">
            <button class="btn btn-success btn-block"
                    [disabled]="!(registerForm.form.valid && creditcardForm.form.valid && customerInfoForm.form.valid && addressForm.form.valid)"
                    type="submit">Register
            </button>
        </div>
    </div>
</form>

