<form #addressForm="ngForm">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label" for="street">Street</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" id="street" name="street"
                       required
                       #street="ngModel"
                       [disabled]="!editable"
                       [(ngModel)]="address.street">
                <div *ngIf="street.errors && (street.dirty || street.touched)">
                    <div *ngIf="street.errors.required">
                        Street is required
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="postalCode">Postal Code / City</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" id="postalCode" name="postalCode"
                       required
                       #postalCode="ngModel"
                       [disabled]="!editable"
                       [(ngModel)]="address.postalCode">
                <div *ngIf="postalCode.errors && (postalCode.dirty || postalCode.touched)">
                    <div *ngIf="postalCode.errors.required">
                        Postal code is required
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <input class="form-control" type="text" id="city" name="city"
                       required
                       #city="ngModel"
                       [disabled]="!editable"
                       [(ngModel)]="address.city">
                <div *ngIf="city.errors && (city.dirty || city.touched)">
                    <div *ngIf="city.errors.required">
                        City is required
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="country">Country</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" id="country" name="country"
                       required
                       #country="ngModel"
                       [disabled]="!editable"
                       [(ngModel)]="address.country">
                <div *ngIf="country.errors && (country.dirty || country.touched)">
                    <div *ngIf="country.errors.required">
                        Country is required
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="state">State</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" id="state" name="state"
                       required
                       #state="ngModel"
                       [disabled]="!editable"
                       [(ngModel)]="address.state">
                <div *ngIf="state.errors && (state.dirty || state.touched)">
                    <div *ngIf="state.errors.required">
                        State is required
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="editable && directUpdate">
        <div class="col-sm-offset-8 col-sm-4">
            <button class="btn btn-primary btn-block"
                    [disabled]="!addressForm.form.valid || addressForm.form.pristine"
                    (click)="updateAddress()">Update</button>
        </div>
    </div>
</form>
