<form #creditcardForm="ngForm">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label" for="type">Type</label>
            <div class="col-sm-9">
                <select [disabled]="!editable" id="type"
                        required
                        class="form-control"
                        #creditcardType="ngModel"
                        name="type" [(ngModel)]="creditCard.type">
                    <option *ngFor="let type of creditCardTypes" [value]="type">
                        {{type}}
                    </option>
                </select>
                <div *ngIf="creditcardType.errors && (creditcardType.dirty || creditcardType.touched)">
                    <div *ngIf="creditcardType.errors.required">
                        Credit Card Type is required
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="number">Number</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" id="number" name="number"
                       required
                       #creditcardNumber="ngModel"
                       pattern="[0-9]{4} [0-9]{4} [0-9]{4} [0-9]{4}"
                       [disabled]="!editable"
                       [(ngModel)]="creditCard.number">

                <div *ngIf="creditcardNumber.errors && (creditcardNumber.dirty || creditcardNumber.touched)">
                    <div *ngIf="creditcardNumber.errors.required">
                        Credit Card Number is required
                    </div>
                    <div *ngIf="creditcardNumber.errors.pattern">
                        Credit Card Number must consist of 16 digits
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="month">Month / Year</label>
            <div class="col-sm-4">
                <input class="form-control" type="number" id="month" name="month"
                       min="1" max="12"
                       required
                       #month="ngModel"
                       [disabled]="!editable"
                       [(ngModel)]="creditCard.expirationMonth">
                <div *ngIf="month.errors && (month.dirty || month.touched)">
                    <div *ngIf="month.errors.required">
                        Credit Card Month is required
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <input class="form-control" type="number" id="year" name="year"
                       min="2017"
                       max="2099"
                       #year="ngModel"
                       required
                       [disabled]="!editable"
                       [(ngModel)]="creditCard.expirationYear">
                <div *ngIf="year.errors && (year.dirty || year.touched)">
                    <div *ngIf="year.errors.required">
                        Credit Card Year is required
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="editable && directUpdate">
        <div class="col-sm-offset-8 col-sm-4">
            <button class="btn btn-primary btn-block"
                    [disabled]="!creditcardForm.form.valid || creditcardForm.form.pristine"
                    (click)="updateCreditcard()">Update
            </button>
        </div>
    </div>
</form>
