<form #customerInfoForm="ngForm">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label" for="firstName">First Name</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" id="firstName"
                       #firstName="ngModel"
                       name="firstName"
                       required
                       [(ngModel)]="customer.firstName">
                <div *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
                    <div *ngIf="firstName.errors.required">
                        First Name is required
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label" for="lastName">Last Name</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" id="lastName" name="lastName"
                       required
                       #lastName="ngModel"
                       [(ngModel)]="customer.lastName">
                <div *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
                    <div *ngIf="lastName.errors.required">
                        Last Name is required
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label" for="email">E-Mail</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" id="email" name="email"
                       required
                       #email="ngModel"
                       [(ngModel)]="customer.email">
                <div *ngIf="email.errors && (email.dirty || email.touched)">
                    <div *ngIf="email.errors.required">
                        Email is required
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>