<div class="row">
    <div class="col-sm-12">
        <h3>Shopping Cart</h3>
    </div>
</div>

<div class="row" *ngIf="orderService.cart.items.length === 0">
    <div class="col-sm-12">
        <p>Shopping cart is empty</p>
    </div>
</div>

<div class="row" *ngIf="orderService.cart.items.length > 0">
    <div class="col-sm-12">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>ISBN</th>
                <th>Title</th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of orderService.cart.items">
                <td>{{item.bookInfo.isbn}}</td>
                <td>{{item.bookInfo.title}}</td>
                <td>{{item.bookInfo.price | currency:'USD':true:'2.2-2' }}</td>
                <td><input min="1" type="number"
                           [(ngModel)]="item.quantity"
                           (ngModelChange)="orderService.cart.updateTotalPrice()"
                           class="form-control"
                           style="width: 70px;"></td>
                <td>
                    <button class="btn glyphicon glyphicon-remove"
                            (click)="orderService.cart.removeBook(item.bookInfo)"></button>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td><b>Total Price</b></td>
                <td></td>
                <td></td>
                <td><b>{{ orderService.cart.totalPrice | currency:'USD':true }}</b></td>
                <td></td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<div class="row row-extra-space" *ngIf="orderService.cart.items.length > 0">
    <div class="col-md-offset-8 col-sm-4">
        <button class="btn btn-success btn-block" routerLink="/checkout"><span class="glyphicon glyphicon glyphicon-ok"
                                                                               aria-hidden="true"></span> Checkout
        </button>
    </div>
</div>

<div class="row row-extra-space">
    <div class="col-sm-offset-8 col-sm-4">
        <button routerLink="/catalog" class="btn btn-default btn-block"><span class="glyphicon glyphicon-chevron-left"></span> Go to catalog</button>
    </div>
</div>
