* {
  font-family: Arial, Helvetica, sans-serif;
}

.simple-notification-wrapper.top {
  top: 80px !important;
}

.row-extra-space {
  margin-top: 20px;
}

input.ng-dirty.ng-invalid {
  border: red solid 1px;
}

.spinner-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
