<div class="row">
    <div class="col-sm-12">
        <h3>Order summary</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h4>Shippment address</h4>
        <customer-address [directUpdate]="true" [editable]="true" [address]="authService.customer.address"></customer-address>
    </div>
</div>

<div class="row row-extra-space">
    <div class="col-sm-12">
        <h4>Creditcard to charge</h4>
        <customer-creditcard [directUpdate]="true" [editable]="true" [creditCard]="authService.customer.creditCard"></customer-creditcard>
    </div>
</div>

<div class="row row-extra-space">
    <div class="col-sm-12">
        <h4>Order positions</h4>
        <order-item-list [items]="orderService.cart.items"></order-item-list>
    </div>
</div>

<div class="row row-extra-space">
    <div class="col-md-offset-8 col-sm-4">
        <button class="btn btn-success btn-block" (click)="order()" *ngIf="!processingRunning"><span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span> Order</button>
        <img src="assets/spinner.gif" class="spinner-block" *ngIf="processingRunning">
    </div>
</div>

<div class="row row-extra-space">
    <div class="col-sm-offset-8 col-sm-4">
        <button routerLink="/catalog" class="btn btn-default btn-block"><span class="glyphicon glyphicon-chevron-left"></span> Go to catalog</button>
    </div>
</div>

<br/><br/>
