<div *ngIf="order">
    <div class="row">
        <div class="col-sm-12">
            <h3>Order details of Order {{order.number}}</h3>
            <p><b>State: {{order.orderStatus}}</b></p>
            <p>Ordered: {{order.date}}, amount: {{order.amount | currency:'USD':true}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h4>Shippment address</h4>
            <customer-address [editable]=false [address]="order.orderAddress"></customer-address>
        </div>
    </div>

    <div class="row row-extra-space">
        <div class="col-sm-12">
            <h4>Charged credit card</h4>
            <customer-creditcard [editable]=false [creditCard]="order.orderCreditcard"></customer-creditcard>
        </div>
    </div>

    <div class="row row-extra-space">
        <div class="col-sm-12">
            <h4>Ordered positions</h4>
            <order-item-list [items]="order.salesOrderItems"></order-item-list>
        </div>
    </div>

    <div class="row row-extra-space" *ngIf="order.orderStatus == 'PROCESSING'">
        <div class="col-md-offset-8 col-sm-4">
            <button class="btn btn-danger btn-block"
                    (click)="cancelOrder();"><span class="glyphicon glyphicon glyphicon-remove"
                                                           aria-hidden="true"></span> Cancel
            </button>
        </div>
    </div>
</div>

<br/><br/>
