<div class="row">
    <div class="col-sm-12">
        <h3>Order Confirmation</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <p>Congratulation, your order with number <b>{{orderNumber}}</b> has been placed successfully!</p>
    </div>
</div>

<div class="row row-extra-space">
    <div class="col-sm-offset-8 col-sm-4">
        <button routerLink="/catalog" class="btn btn-default btn-block"><span class="glyphicon glyphicon-chevron-left"></span> Go to catalog</button>
    </div>
</div>

<br/><br/>
