<table class="table table-striped">
    <thead>
    <tr>
        <th>ISBN</th>
        <th>Title</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items">
        <td>{{item.bookInfo ? item.bookInfo.isbn : item.book.isbn}}</td>
        <td>{{item.bookInfo ? item.bookInfo.title : item.book.title}}</td>
        <td>{{item.bookInfo ? item.bookInfo.price : item.price | currency:'USD':true:'1.2-2' }}</td>
        <td>{{item.quantity}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td><b>Total Price</b></td>
        <td></td>
        <td><b>{{ calcTotalPrice() | currency:'USD':true }}</b></td>
        <td></td>
    </tr>
    </tfoot>
</table>
