<div class="row">
    <div class="col-sm-12">
        <h3>Book Details</h3>
    </div>
</div>

<div class="row" *ngIf="book">
    <div class="col-xs-8">
        <table class="table">
            <tbody>
            <tr>
                <th>ISBN</th>
                <td>{{book.isbn}}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{book.title}}</td>
            </tr>
            <tr>
                <th>Authors</th>
                <td>{{book.authors}}</td>
            </tr>
            <tr>
                <th>Publisher</th>
                <td>{{book.publisher}}</td>
            </tr>
            <tr>
                <th>Binding</th>
                <td>{{book.binding}}</td>
            </tr>
            <tr>
                <th>Publication year</th>
                <td>{{book.publicationYear}}</td>
            </tr>
            <tr>
                <th>Number of Pages</th>
                <td>{{book.numberOfPages}}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{book.price | currency:'USD':true:'2.2-2'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-4">
        <img src="http://images.amazon.com/images/P/{{book.isbn}}.02.01.LZZZZZZZ.jpg">
    </div>
</div>

<div class="row" *ngIf="!book">
    <div class="col-sm-12">
        <img src="assets/spinner.gif" class="spinner-block">
    </div>
</div>

<div class="row">
    <div class="col-sm-offset-8 col-sm-4">
        <button class="btn btn-success btn-block" (click)="addToCart(book)"><span class="glyphicon glyphicon-shopping-cart"></span> Add to cart</button>
    </div>
</div>

<div class="row row-extra-space">
    <div class="col-sm-offset-8 col-sm-4">
        <button (click)="goBack()" class="btn btn-default btn-block"><span class="glyphicon glyphicon-chevron-left"></span> Go back</button>
    </div>
</div>

